/* login */
body {
    min-height: 100vh;
}

.boas-vindas {
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.senha {
    margin: 0 auto;
    margin-top: 1rem;
    font-size: 1.8rem;
    color: var(--light-pink);
    text-decoration: underline;
}

.btn-entrar, .btn-cadastre-se, .btn-senha {
    margin: 0 auto;
    margin-top: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: 700;
    color: var(--dark-green);
}

.btn-entrar {
    background-color: var(--btn-terracota);
    width: 8rem;
    padding: 0.5rem;
}

.btn-cadastre-se {
    background-color: var(--btn-yellow);
    width: 12rem;
    padding: 0.5rem;
}

footer {
    bottom: 0;
}
/* página esqueci minha senha */


h2 {
    margin-top: 1.5rem;
    font-size: 1.6rem;
}

.texto-senha {
    margin-left: 6rem;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.btn-senha {
    background-color: var(--btn-terracota);
    width: 20rem;
    margin-bottom: 1rem;
}

.btn-voltar-login {
    border-radius: 0.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    padding: 0.3rem;
    border: 2px solid var(--btn-yellow);
    color: var(--btn-yellow);
    width: 20rem;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    /* login */
html, body {
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}
    
.senha {
    font-size: 1.4rem;
}
.boas-vindas {
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-entrar, .btn-cadastre-se {
    font-size: 1.6rem;
    margin-bottom: -1rem;
}

/* página esqueci minha senha */
.btn-senha {
    font-size: 1.8rem;
}

h2 {
    font-size: 1rem;
}

}
